<div class="containner">
  <app-header></app-header>
  <as-split direction="horizontal" class="main-content">
    <as-split-area [size]="20" class="sidebar-container">
      <app-sidebar></app-sidebar>
    </as-split-area>
    <as-split-area [size]="80">
      <as-split direction="vertical" [gutterSize]="6">
        <!-- Request Pane -->
        <as-split-area [size]="60">
          <div> samir</div>
        </as-split-area>

        <!-- Response Pane -->
        <as-split-area [size]="40">
          <div>ziani</div>
        </as-split-area>
      </as-split>
    </as-split-area>

  </as-split>

</div>
