/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  /* header*/
  --header-bg: #ffffff;
  --header-color: #000000;
  --background-color: #f5f5f5;
  --invite-bg: #AA23FF;

  /* sidebar*/
  --sidebar-bg: #ffffff;
  --sidebar-color: #000;
  --sidebar-hover-bg: #AA23FF;
  --sidebar-filter-bg: #bdbdbd;

}

.dark-theme {
  /* header*/
  --header-bg: #2d2d2d;
  --header-color: #ffffff;
  --background-color: #1e1e1e;
  --invite-bg: #D591FF;
  /* sidebar*/
  --sidebar-bg: #2d2d2d;
  --sidebar-color: #ffffff;
  --sidebar-hover-bg: #424242;
  --sidebar-filter-bg: #2d2d2d
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
}
